<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication Website</title>
    <meta name="viewport" content="width=device-width", initial-sacle="1.0">
</head>
<body>
    <div class="container">
        <h1>Authentication Website</h1>
        <h3>Authentication Message: secure login is performed for authentication.</h3>
        <form action="" method="post">
            <input type="text" placeholder="Email" name="email" value="{{request.form.username}}">
            <input type="text" placeholder="Password" name="password" value="{{request.form.password}}">
            <input class="btn btn-default" type="submit" value="Verify">
        </form>
        {% if error %}
            <p class="error"><strong>Error:</strong>{{ error }}</p>
        {% endif %}
        <br>
        <button type="button" onclick="location.href='http://127.0.0.1:5000/homepage'">Redirect</button>
    </div>
</body>
</html>
