<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>celebrity_face_recognition</title>
</head>
<body>
    <h1>celebrity_face_recognition</h1>
    <form action="" method="post">
        <input type="text" placeholder="image" name="image" value="{{request.form.image}}">
    </form>
    {% if error %}
        <h2>result: {{ response }}</h2>
        <p class="error"><strong>Error:</strong>{{ error }}</p>
    {% else %}
        <h2>result: {{ response }}</h2>
    {% endif %}
</body>
</html>
