<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Celebrity Face Recognition</title>
</head>
<body>
    <h1>Celebrity Face Recognition</h1>
    <form action="" method="post">
        <input type="text" placeholder="image" name="image" value="{{request.form.image}}">
    </form>
    {% if error %}
        <h3>Result: {{ response }}</h3>
        <p class="error"><strong>Error:</strong>{{ error }}</p>
    {% else %}
        <h3>Result: {{ response }}</h3>
        <h3>Website: https://ko.wikipedia.org/wiki/{{ response }}</h3>
    {% endif %}
    <button type="button" onclick="location.href='http://127.0.0.1:5000/homepage'">Redirect</button><br>
</body>
</html>
