<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <div class="container">
        <h1>Homepage</h1>
        <form action="" method="post">
            <input type="text" placeholder="Search" name="search" value="{{request.form.search}}"><br><br>
            <button type="button" onclick="location.href='http://127.0.0.1:5000/logout'">Logout</button>
            <button type="button" onclick="location.href='http://127.0.0.1:5000/export'">Export</button>
            <button type="button" onclick="location.href='http://127.0.0.1:5000/shopping'">Shopping</button>
            <button type="button" onclick="location.href='http://127.0.0.1:5000/celebrity_face_recognition'">Celebrity Face Recognition</button>
            <button type="button" onclick="location.href='http://127.0.0.1:5000/notice'">Notice</button>
        </form>
    </div>
</body>
</html>
