<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notice Website</title>
</head>
<body>
    <h1>Notice Website</h1>
    <h3>=====Add=====</h3>
    <h4>1. face login system updated.</h4>
    <h3>=====Fix=====</h3>
    <h4>1. fixed button operation error.</h4>
    <h4>2. fixed trading and shopping functions.</h4>
    <h3>=====Error=====</h3>
    <h4>1. if you enter a specific domain address, the website function may not work.</h4>
    <button type="button" onclick="location.href='http://127.0.0.1:5000/homepage'">Redirect</button>
</body>
</html>
