<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notice Website</title>
</head>
<body>
    <h1>Notice Website</h1>
    <h2>=====Add=====</h2>
    <h3>1. face login system updated.</h3>
    <h3>2. notice website added.</h3>
    <h2>=====Fix=====</h2>
    <h3>1. fixed button operation error.</h3>
    <h3>2. fixed website access error.</h3>
    <h2>=====Error=====</h2>
    <h3>1. website search may not work on some computers, the management team is fixing it quickly.</h3>
    <button type="button" onclick="location.href='http://127.0.0.1:5000/homepage'">Redirect</button>
</body>
</html>
