<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>Shopping Website</title>
    <style type="text/css">
        body{ text-align: center; }
    </style>
</head>
<body>
    <h3>Shopping Website</h3>
    <h4>Shopping List</h4>
    <form action="" method="post">
        <td><input type="text" placeholder="Product" name="product" value="{{request.form.product}}"></td>
        <td><input type="number" placeholder="Quantity" name="quantity" value="{{request.form.quantity}}"></td>
        <td><button type="submit">Purchase</button></td>
    </form>
    <br>
    <table border="1" width="600" align="center">
        <thead>
        <td>name</td>
        <td>number</td>
        <td>price</td>
        </thead>
    {% for row in rows %}
        <tr>
            <td>{{ row["item"] }}</td>
            <td>{{ row["num"] }}</td>
            <td>{{ row["price"] }}</td>
        </tr>
    {% endfor %}
    </table>

    {% if error %}
        <p class="error"><strong>Error:</strong>{{ error }}</p>
    {% endif %}
</body>
</html>
