<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information Website</title>
</head>
<body>
    <h1>Information Website</h1>
    <h4>=====Check Balance=====</h4>
    <h3>Balance: {{ balance }}</h3>
    <h4>=====Charge Balance=====</h4>
    <button type="button" onclick="location.href='http://127.0.0.1:5000/charge_balance'">Charge Balance</button><br><br>
    <button type="button" onclick="location.href='http://127.0.0.1:5000/homepage'">Redirect</button>
</body>
</html>