<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local Host System</title>
</head>
<body>
    <form method="POST" action="/login">
        <button type="button" onclick="location.href='http://127.0.0.1:5000/login'">Login</button>
    </form>
    <form method="POST" action="/register">
        <button type="button" onclick="location.href='http://127.0.0.1:5000/register'">Register</button>
    </form>
    <form method="POST" action="/upload">
        <button type="button" onclick="location.href='http://127.0.0.1:5000/upload'">Upload Login</button>
    </form>
</body>
